h2 {
    font-family: arial;
}

.line-height {
    line-height: 10px;
}

.fontRekap {
    font-family: arial;
}

.preHtml {
    font-family: arial;
    line-height: 10px
}

.halaman {
    font-family: arial;
}

html {
    font-family: 'Outfit', sans-serif;
}